<section class="outils">
  <h2>OUTILS</h2>
  <ul>
    <li>
      <strong>Outils de suivi :</strong> Azure DevOps, Jira, GitHub, Taiga
    </li>
    <li>
      <strong>Infrastructure :</strong> Debian, Ubuntu, Windows Server, AD,
      LDAP, KMS, IPv4/IPv6
    </li>
    <li><strong>Cloud :</strong> GCP, VMWare, vSphere, NSX, vSAN, vRops</li>
    <li><strong>CI/CD :</strong> Docker, Docker-Compose, Github Actions</li>
    <li>
      <strong>Test d’intégration :</strong> Postman, Bruno, Insomnia, SoapUI
    </li>
    <li>
      <strong>Automatisation des tests :</strong> Newman, Selenium, Cypress,
      Playwright
    </li>
    <li><strong>SGBD :</strong> PostgreSQL, MS SQL Server, MongoDB, MySQL</li>
  </ul>
</section>
